
/*ראש-רקע האתר*/
.pesto-header {
    background-color: #E1EBE1;
}

/*נגישות*/
.skip-to-content-link {
    background: #E1EBE1;
    height: 30px;
    left: 50%;
    padding: 8px;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
    margin-top: -12px;
}


    /*נגישות*/
    .skip-to-content-link:focus {
        transform: translateY(0%);
    }

h1{font-size:60px}

/*תמונה ראשית*/
.pesto-header-img {
    text-align: center;
    float: left;
    margin-left: 120px;
    margin-top: -35px;
    padding-bottom: 60px;
       
}

/*כותרת ראשית*/
.pesto-header-title { text-align:center; margin-top:100px; margin-right:130px;}

/*גריד-מצרכים*/
.grid-box-subtitle {
    text-align: center;
    margin-right: 22px;
    font-size: 30px;
    color: #5B5354;
}

/*גריד-מצרכים*/
.grid-boxes row {
    display: grid;
    grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
}

/*גריד-מצרכים*/
.grid-box { width:25%; }

/*גריד-מצרכים*/
.grid-row-text{float:right;}

/*גריד-שלבי הכנה*/
.wrapper2 {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 150px 150px 150px 150px 150px ;
    margin: 100px;
}

/*גריד-שלבי הכנה*/
.wr{text-align:right;}


